<!-- home page -->
<link rel="stylesheet" href="/css/home.css">

<div class="container">
    <div class="home-div">
        <h1><b>DashBoard</b></h1>
        <br>
        <h2><b>Welcome To User Authentication</b></h2>
    </div>
</div>